@media (max-width: 600px) {
  body {
    margin: 0 auto;
  }
  .grid-container {
    display: grid;
    grid-template-columns: "repeat(auto-fit, minmax(300px, 1fr))";
    gap: "1rem";
  }
  .card {
    width: "300px";
    display: "flex";
    flex-direction: column;
    justify-content: "center";
  }
}
